.carousel__really {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 35px;
}

.carousel__categories-prev-button,
.carousel__categories-next-button {
    border-radius: 50%;
    background-color: var(--background-color);
    border-color: var(--coment-color);
}

.carousel__categories-prev-button img,
.carousel__categories-next-button img {
    width: 25px;
}

.carousel__categories-prev-button {
    position: relative;
    left: 10px;
}

.carousel__categories-next-button {
    position: relative;
    right: 10px;
}

.carousel__categories-next-button:hover,
.carousel__categories-prev-button:hover {
    border-color: greenyellow;
    transition: 0.3s;
    background-color: var(--around-color);
    box-shadow: 0px 5px 7px 7px rgb(136 140 133 / 7%);
}

.navigation__categories {
    position: absolute;
    left: 50%;
    display: flex;
    width: 180px;
    justify-content: space-between;
    transform: translateX(-50%);
    margin-top: 33px;
}

#dot1,
#dot2,
#dot3,
#dot4,
#dot5 {
    height: 12px;
    width: 12px;
    cursor: pointer;
    opacity: .5;
    transition: all .5s ease;
}

#dot1:hover,
#dot2:hover,
#dot3:hover,
#dot4:hover,
#dot5:hover {
    opacity: .9;
    transform: scale(1.3);
}