@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0px;
    max-width: 1750px;
    margin: auto;
}

.main {
    font-family: 'Barlow', sans-serif;
    background-color: var(--background-color);
    
    --background-color: #fcf6ec;
    /* Kharandziuk */
    --banner__fluid-title-color: rgb(75, 79, 105);
    --banner__fluid-text-color: #6f7490;
    --banner__fluid-button-background-color: rgb(32, 218, 103);
    --banner__fluid-button-text-color: white;
    --banner__fluid-button-hover-bg-color: rgb(255, 0, 0);
    --banner__fluid-button-hover-color: white;
    --carrousel__reviews-content-box-shadow-color: grey;
    --carrousel__reviews-content-name-color: #4b4f69;
    --carrousel_reviews-content-comment-color:#6f7490;
    --carrousel-reviews-content-date-color: #3DC491;
    --carrousel__reviews-buttons-color: grey;
    --carrousel__reviews-dots-background-color: rgb(204, 202, 202);
    --carrousel__reviews-dots-background-color-hover: black;
    --carrousel__reviews-dots-background-color-focus: grey;
    /* Silaiev */
    --title-color: rgb(41, 138, 101);
    --name-color: rgb(61, 196, 145);
    --coment-color: rgb(111, 116, 144);
    --around-color: white;
    --color-dots: greenyellow;
    /* Smal */
    --price-color: rgb(255, 119, 94);
}

img {
    display: block;
    width: 100%;
  }