.container {
  display: block;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-nav {
    margin-top: 0px;
    padding: 20px 0px;
    display: flex;
    align-items:center;
    justify-content:space-between;
    flex-direction:row;
  }
  .header__nav-menu {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
@media(min-width:520px) {
    .header-nav > .container {
      display: flex;
}
   .header__nav-menu {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}
}
.header__nav-logo {
    display: block;
    width: 98px;;
    cursor: pointer;
    margin-left: 50px;
}
.burger {
  width: 30px;
  height: 20px;
  padding: 12px;
  cursor: pointer;
  display: block;
  position: relative;
  box-sizing: border-box;
  z-index: 5;
}
.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  top: 50%;
  transform: rotate(-45deg);
}

.burger.active::after {
  bottom: 40%;
  transform: rotate(45deg);
}

.burger span,
.burger::before,
.burger::after {
  background-color: var(--coment-color);
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.burger::before,
.burger::after {
  content: " ";
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}



//*.header__nav-menu {
  display: none;
}*//

.header__nav-menu a {
  text-decoration: none;
  color:var(--coment-color);
}
.header__nav-menu a:hover {
text-decoration: underline;

}
.menu-link {
    text-decoration: none;
    color: var(--coment-color);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin: 0px 10px;
  }
  .menu-link:hover {
    color: rgb(41, 138, 101);
  }
  .clock {
    color:rgb(41, 138, 101);
    font-weight: bold;
  }
  .social-icons {
    display:flex;
    align-items: center;
    justify-content:center;
  }
  
  .social__link-icons{
    width: 120px;
    height: 120px;
  }
  