/* 2 блок Тарас Харандзюк[1/2]*/
.banner__fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-image: url(../img/bg_fruits.webp);
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
    margin: 0;
}

.banner__fluid-title {
    color: var(--banner__fluid-title-color);
    font-weight: 1000;
    font-size: 60px;
    padding-bottom: 35px;
    padding-left: 12px;
    padding-right: 12px;
}

@media (min-width: 500px) {
    .banner__fluid-title {
        font-size: 80px;
        padding-left: 80px;
        padding-right: 80px;
    }
}

.banner__fluid-text {
    color: var(--banner__fluid-text-color);
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.banner__fluid-button {
    color: var(--banner__fluid-button-text-color);
    background-color: var(--banner__fluid-button-background-color);
    padding: 16px 40px;
    border-radius: 5px;
    text-decoration-line: none;
}

.banner__fluid-button:hover {
    color: var(--banner__fluid-button-hover-color);
    background-color: var(--banner__fluid-button-hover-bg-color);
    transition: 0.5s;
}

/* 3 блок Olesia Holod[1/2]*/
.text__block {
    margin-left: 30px;
    min-width: 270px;
}

.order__food {
    color: var(--title-color);
    font-size: 38px;
    font-weight: 800;
}

.divider__component {
    background-color: var(--title-color);
    height: 3px;
    width: 8%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text__about__order {
    font-family: 'Roboto', sans-serif;
    color: var(--coment-color);
    font-size: 19px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 1.5;
}

.icon__list {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: var(--coment-color);
}

.colection,
.icon__list-item {
    list-style-type: none;

}

li:before {
    content: '\1F534';
}

.colection .icon__list-item {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    width: 25px;
    margin-bottom: 8px;
}
.text__mobile-app {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: var(--coment-color);
    margin: 35px 0px 45px 0px;
    line-height: 1.5;
}

.button-menu {
    color: var(--around-color);
    background-color: var(--name-color);
    padding: 17px 60px;
    border-radius: 3px;
    text-decoration-line: none;
    display: inline-block;
    margin-bottom: 45px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.button-menu:hover {
    color: var(--around-color);
    background-color: var(--price-color);
    transition: 0.5s;
}

.image__block {
    margin: 30px auto 0px auto;
}

.picture {
    width: 90%;
    height: 75%;
    background-image: url(../img/background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 43%, 55%;
}

.img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content {
    margin-top: 90px;
    display: grid;
}

@media (min-width: 820px) {
    .content {
        grid-template-columns: 1fr 1fr;
    }

    .order__food {
        font-size: 50px;
    }

    .picture {
        width: 90%;
        height: 65%;
        background-position: 43%, 88%;
    }
}


/* 4 блок Oleksandr Silaiev[1/2] */
.carousel__categories-title {
    font-size: 38px;
    text-align: center;
    color: var(--title-color);
}

.carousel__title-separator {
    display: block;
    margin: 20px auto 20px auto;
    width: 4%;
    height: 3px;
    background-color: var(--title-color);
}

.carousel__name-separator {
    display: block;
    margin: 20px auto 20px auto;
    width: 10%;
    height: 3px;
    background-color: var(--coment-color);
}

.carousel__categories-choose-cuisine {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    text-align: center;
    color: var(--coment-color);
    margin: 0px 35px 70px 35px;
    line-height: 1.5;
}

.carousel__categories-name {
    font-size: 22px;
    text-align: center;
    color: var(--name-color);
}

.carousel__categories-comment {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: center;
    color: var(--coment-color);
    line-height: 1.5;
}

.carousel__cuisine {
    display: flex;
    justify-content: space-between;
}

.carousel__categories-vegeterian,
.carousel__categories-sushi,
.carousel__categories-pizza,
.carousel__categories-bakery,
.carousel__categories-fast-food {
    display: block;
    border-radius: 100%;
    padding: 15px;
    background-color: var(--background-color);
    width: 70px;
    height: 70px;
    margin: 25px auto 30px auto;
}

.carousel__categories-item {
    box-shadow: 0 5px 10px 7px rgb(136 140 133 / 7%);
    background-color: var(--around-color);
    border-radius: 3%;
    padding: 5px 15px 25px 15px;
}

.carousel__categories {
    margin-top: 120px;
    margin-bottom: 120px;
}

.carousel__cuisine {
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 520px) {
    .carousel__cuisine {
        grid-template-columns: 1fr 1fr;
        gap: 17px;
    }
}

@media (min-width: 740px) {
    .carousel__cuisine {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .carousel__categories-title {
        font-size: 50px;
    }

    .carousel__categories-vegeterian,
    .carousel__categories-sushi,
    .carousel__categories-pizza,
    .carousel__categories-bakery,
    .carousel__categories-fast-food {
        padding: 23px;
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 960px) {
    .carousel__cuisine {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* 5 блок MarianaVentsel[1/1]*/
.manual__works {
    font-size: 38px;
    text-align: center;
    color: rgb(41, 138, 101);
}

.manual__works-separator {
    display: block;
    margin: 20px auto 20px auto;
    width: 4%;
    height: 3px;
    background-color: rgb(41, 138, 101);
}

/* 6 блок RomanSmal[1/1]*/
.price__title {
    font-size: 38px;
    text-align: center;
    color: var(--title-color);
}

.price__title-separator {
    display: block;
    margin: 20px auto 20px auto;
    width: 4%;
    height: 3px;
    background-color: var(--title-color);
}

.price__title-partners,
.tab__saladbar,
.tab__pizza-italo,
.tab__burger-city {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    color: var(--coment-color);
    margin-bottom: 50px;
}

.salad__title,
.pizza__title,
.burger__title {
    font-family: 'Barlow', sans-serif;
    font-size: 22px;
    text-align: left;
    color: var(--name-color);
}

.salad__price,
.pizza__price,
.burger__price {
    font-family: 'Barlow', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: var(--price-color);
}

.salad__ingredients,
.pizza__ingredients,
.burger__ingredients {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: left;
    color: var(--coment-color);
}

/* 7 блок Oleksandr Silaiev[2/2]*/
.delivery__title {
    font-size: 38px;
    text-align: center;
    color: var(--title-color);
}

.delivery__title-separator {
    display: block;
    margin: 20px auto 20px auto;
    width: 4%;
    height: 3px;
    background-color: var(--title-color);
}

.benefits__comment-separator {
    display: block;
    margin: 20px auto 20px auto;
    width: 10%;
    height: 3px;
    background-color: var(--coment-color);
}

.delivery__comfort {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    text-align: center;
    color: var(--coment-color);
    line-height: 1.5;
    margin-left: 25px;
    margin-right: 25px;
}

.benefits__item-comment {
    font-size: 22px;
    margin: 20px auto 10px auto;
    text-align: center;
    color: var(--name-color);
}

.benefits__item-explanation {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: center;
    color: var(--coment-color);
    max-width: 400px;
    margin: auto;
    line-height: 1.5;
}

.delivery__benefits-item {
    margin-top: 60px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.delivery__benefits {
    display: grid;
    grid-template-columns: 1fr;
}

.benefits__item-check,
.benefits__item-location,
.benefits__item-alltime {
    background-image: url(../img/back.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    padding: 15px;
    display: block;
    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 720px) {
    .delivery__benefits {
        grid-template-columns: 1fr 1fr;
        padding-left: 40px;
        padding-right: 40px;
    }

    .delivery__title {
        font-size: 50px;
    }

    .benefits__item-check,
    .benefits__item-location,
    .benefits__item-alltime {
        width: 100px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        padding: 23px;
    }
}

@media (min-width: 920px) {
    .delivery__benefits {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.delivery {
    margin-top: 65px;
    margin-bottom: 50px;
}

/* 8 блок Тарас Харандзюк[2/2]*/
.carrousel__reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.carrousel__reviews-previous-button {
    position: absolute;
    top: 45%;
    left: 10px;
    background-color: var(--background-color);
    color: var(--carrousel__reviews-buttons-color);
    border: 0px;
    font-weight: 600;
    font-size: 24px;
}

.carrousel__reviews-next-button {
    position: absolute;
    top: 45%;
    right: 10px;
    background-color: var(--background-color);
    color: var(--carrousel__reviews-buttons-color);
    border: 0px;
    font-weight: 600;
    font-size: 24px;
}

.carrousel__reviews-dots {
    display: flex;
    justify-content: center;
}
@media (min-width: 764px) {
    #reviews-dot4 {
        display: none;
    }
}

.reviews-dot {
    width: 10px;
    height: 10px;
    background-color: var(--carrousel__reviews-dots-background-color);
    border: none;
    border-radius: 50%;
    margin: 10px;
}
.reviews-dot:hover {
    background-color: var(--carrousel__reviews-dots-background-color-hover);
}
.reviews-dot:focus {
    background-color: var(--carrousel__reviews-dots-background-color-focus);
}
.reviews-dot-active {
    background-color: var(--carrousel__reviews-dots-background-color-focus);  
}

.carrousel__reviews-body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 28px;
    margin: 30px;
    height: 550px;
}
@media (min-width: 764px) {
    .carrousel__reviews-body {
        grid-template-columns: 1fr 1fr;
    }
}

.carrousel__reviews-content {
    background-color: white;
    text-align: center;
    box-shadow: 0px 0px 6px -3px var(--carrousel__reviews-content-box-shadow-color);
    border-radius: 5px;
    padding: 50px 20px 50px 20px;
    display: grid;
    margin: 0;
}

.carrousel__reviews-content-photo {
    width: 64px;
    height: 64px;
    border-radius: 70px;
    object-fit: cover;
    margin: auto;
}

@media (min-width: 764px) {
    .carrousel__reviews-content-photo {
        width: 128px;
        height: 128px;
    }
}

.carrousel__reviews-content-name {
    color: var(--carrousel__reviews-content-name-color);
    padding-top: 20px;
    font-size: 20px;
    font-weight: 700;
}

@media (min-width: 764px) {
    .carrousel__reviews-content-photo {
        font-size: 25px;
        font-weight: 700;
    }
}

.carrousel_reviews-content-comment {
    color: var(--carrousel_reviews-content-comment-color);
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 18px;
}
@media (min-width: 764px) {
    .carrousel_reviews-content-comment {
        padding: 30px;
    }
}

.carrousel-reviews-content-date {
    color: var(--carrousel-reviews-content-date-color);
    font-weight: 700;
    align-items: end;
    padding-top: 10px;
}

/* 9 блок Roman Sosnovskyi[1/1]*/
.background_2xT {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(../img/baner.webp);
    background-size: cover;
    padding-top: 110px;
    padding-bottom: 110px;
    margin-left: 100px;
    margin-right: 100px;
}

.green-line {
    width: 50px;
    height: 4px;
    background-color: rgb(41, 138, 101);
    align-self: center;
    display: block;
    margin: 20px auto 20px auto;


}

.section__baner {
    color: rgb(75, 79, 105);
    font-weight: 1000;
    font-size: 60px;
    padding-bottom: 35px;
    padding-left: 80px;
    padding-right: 80px;
}

@media (min-width: 500px) {
    .banner__fluid-title {
        font-size: 80px;
    }
}

.component__tittle {
    color: #6f7490;
    font-weight: 600;
    font-size: 19px;
    padding-bottom: 70px;
}

.Sambit {
    color: white;
    background-color: rgb(32, 218, 103);
    padding: 16px 40px;
    border-radius: 5px;
    text-decoration-line: none;
}

.modal-content {
    width: 600px;
    height: 550px;
    margin: 40px auto;
    background: #6f7490;
    border: 1px solid #6f7490;
    border-radius: 15px;
    z-index: index 150;
}

.small_green_line-info {
    display: block;
    margin: 20px auto 20px auto;
    width: 10%;
    height: 3px;
    background-color: rgb(41, 138, 101);
}

.contacts__form {
    width: 275px;
    margin: 0px auto 20px;
    text-align: center;
}

.input {
    width: 260px;
    padding: 5px;
    margin-bottom: 20px;
}

.btn-close {
    margin: 10px 0 0 460px;
}

.titel-form {
    margin-left: auto;
    margin-right: auto;
}

.text-form {
    margin-left: auto;
    margin-right: auto;
    color: #6f7490;
}

.text-form-out {
    margin-left: auto;
    margin-right: auto;
    color: #6f7490;
    margin-top: -15px;
}

.sambit-button {
    color: white;
    background-color: rgb(32, 218, 103);
    padding: -16px 1000px;
    border-radius: 5px;
    text-decoration-line: none;
    width: 260px;
    padding: 5px;
    margin-bottom: 20px;
}

.span-info {
    display: table-cell;
    vertical-align: bottom;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 50%);
    margin-top: 200px;
}

/* 10 блок Таня Стащак[1/2]*/
.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq_questions {
    color: rgb(41, 138, 101);
    font-size: 50px;
    font-weight: 800;
}

.small_green_line {
    width: 50px;
    height: 4px;
    background-color: rgb(41, 138, 101);
    align-self: center;
    margin-top: 20px;
}

.faq_content {
    margin-top: 20px;
    font-size: 20px;
    color: #6f7490;
    font-weight: 700;
}

.question_answer {
    margin: 10px;
    line-height: 28px;
}

.question {
    margin-bottom: 15px;
    color: #3DC491;
    font-size: 25px;
    font-weight: 600;
}

.answer {
    color: #6f7490;
    font-weight: 400;
    font-size: 18px;
}

@media (min-width:640px) {
    .question_list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        margin: 30px 200px 30px 200px;
    }
}

@media (min-width: 810px) {
    .question_list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* 11 блок Таня Стащак[2/2]*/
.contacts,
.address {
    display: flex;
    flex-direction: column;
    line-height: 28px;
}

.contacts_content {
    color: rgb(41, 138, 101);
    font-size: 50px;
    font-weight: 800;
}

.small_green_line_seft_side {
    width: 50px;
    height: 4px;
    background-color: rgb(41, 138, 101);
    align-self: auto;
    margin-top: 20px;
}

.contacts_content_explanation {
    margin-top: 20px;
    font-size: 20px;
    color: #6f7490;
    font-weight: 700;
}

.address a {
    text-decoration: none;
    color: #6f7490;
    font-size: 18px;
    font-weight: 700;
}

address a.phone {
    margin-top: 35px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 800px;
    color: #f14952;
}

.support_info img {
    width: 70%;
    height: auto;
}

@media (min-width:640px) {
    .support_info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        margin: 30px 200px 30px 200px;
        justify-items: center;
    }
}