/* 2 блок Тарас Харандзюк[1/2]*/
.banner__fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-image: url(../img/bg_fruits.webp);
    background-size: cover;
    padding-top: 110px;
    padding-bottom: 110px;
}

.banner__fluid-title {
    color: rgb(75, 79, 105);
    font-weight: 1000;
    font-size: 60px;
    padding-bottom: 35px;
    padding-left: 80px;
    padding-right: 80px;
}

@media (min-width: 500px) {
    .banner__fluid-title {
        font-size: 80px;
    }
}

.banner__fluid-text {
    color: #6f7490;
    font-weight: 600;
    font-size: 19px;
    padding-bottom: 70px;
}

.banner__fluid-button {
    color: white;
    background-color: rgb(32, 218, 103);
    padding: 16px 40px;
    border-radius: 5px;
    text-decoration-line: none;
}

.banner__fluid-button:hover {
    background-color: rgb(255, 0, 0);
    transition: 0.5s;
}

/* 3 блок Olesia Holod[1/2]*/
.order__food {
    color: rgb(41, 138, 101);
    font-weight: bold;
}

.divider__component {
    background-color: rgb(41, 138, 101);
    height: 3px;
    width: 8%;
}

.text__about__order {
    color: rgb(75, 79, 105);
    font-weight: bold;
}

.icon__list {
    color: #6f7490;
}

.text__mobille-app {
    color: #6f7490;
}

.icon__list-item {
    width: 35px;
}

.button-menu {
    color: white;
    background-color: rgb(32, 170, 110);
    padding: 16px 40px;
    border-radius: 5px;
    text-decoration-line: none;
    display: inline-flex;
}

.button-menu:hover {
    background-color: rgb(255, 0, 0);
    transition: 0.5s;
}

.picture {
    width: 600px;
}

/* 4 блок Oleksandr Silaiev[1/2]*/
.carrousel__categories-title {
    font-size: 38px;
    text-align: center;
    color: rgb(41, 138, 101);
}

.carrousel__title-separator {
    display: block;
    margin: 20px auto 20px auto;
    width: 4%;
    height: 3px;
    background-color: rgb(41, 138, 101);
}

.carrousel__name-separator {
    display: block;
    margin: 20px auto 20px auto;
    width: 10%;
    height: 3px;
    background-color: rgb(111, 116, 144);
}

.carrousel__categories-choose-cuisine {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    text-align: center;
    color: rgb(111, 116, 144);
    margin-bottom: 50px;
}

.carrousel__categories-name {
    font-size: 22px;
    text-align: center;
    color: rgb(61, 196, 145);
}

.carrousel__categories-comment {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: center;
    color: rgb(111, 116, 144);
}

.carrousel__categories-vegeterian,
.carrousel__categories-sushi,
.carrousel__categories-pizza,
.carrousel__categories-bakery,
.carrousel__categories-fast-food {
    display: block;
    border-radius: 100%;
    padding: 15px;
    background-color: var(--background-color);
    width: 40px;
    height: 40px;
    margin: 25px auto 30px auto;
}

.carrousel__categories-item {
    box-shadow: 0px 0px 8px -3px grey;
    background-color: white;
    border-radius: 2%;
    margin: 10px 40px 10px 40px;
    padding: 5px 15px 25px 15px;
}

.carrousel__categories {
    margin-top: 120px;
    margin-bottom: 120px;
}

.carrousel__cuisine {
    display: grid;
    grid-template-columns: 1fr;
    min-width: 312px;
}

@media (min-width: 520px) {
    .carrousel__cuisine {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 740px) {
    .carrousel__cuisine {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 960px) {
    .carrousel__cuisine {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* 5 блок MarianaVentsel[1/1]*/

/* 6 блок RomanSmal[1/1]*/

/* 7 блок Oleksandr Silaiev[2/2]*/
.deliveri__title {
    font-size: 38px;
    text-align: center;
    color: rgb(41, 138, 101);
}

.deliveri__title-separator {
    display: block;
    margin: 20px auto 20px auto;
    width: 4%;
    height: 3px;
    background-color: rgb(41, 138, 101);
}

.benefits__comment-separator {
    display: block;
    margin: 10px auto 10px auto;
    width: 10%;
    height: 3px;
    background-color: rgb(111, 116, 144);
}

.delivery__comfort {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    text-align: center;
    color: rgb(111, 116, 144);
}

.benefits__item-comment {
    font-size: 22px;
    margin: 20px auto 10px auto;
    text-align: center;
    color: rgb(61, 196, 145);
}

.benefits__item-explanation {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: center;
    color: rgb(111, 116, 144);
    max-width: 400px;
    margin: auto;
}

.delivery__benefits-item {
    margin-top: 80px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.delivery__benefits {
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 620px) {
    .delivery__benefits {
        grid-template-columns: 1fr 1fr;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (min-width: 880px) {
    .delivery__benefits {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.benefits__item-check,
.benefits__item-location,
.benefits__item-alltime {
    background-color: white;
    border-radius: 50%;
    padding: 15px;
    display: block;
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.delivery {
    margin-top: 80px;
    margin-bottom: 20px;
}

/* 8 блок Тарас Харандзюк[2/2]*/
.carrousel__reviews {
    display: grid;
    grid-template-columns: 1fr;
    gap: 28px;
    margin: 80px;
}

@media (min-width: 764px) {
    .carrousel__reviews {
        grid-template-columns: 1fr 1fr;
    }
}

.carrousel__reviews-content {
    background-color: white;
    text-align: center;
    box-shadow: 0px 0px 6px -3px grey;
    border-radius: 5px;
    padding: 50px;
    display: grid;
}

.carrousel__reviews-content-photo {
    width: 128px;
    height: 128px;
    border-radius: 70px;
    object-fit: cover;
    margin: auto;
    /* object-position: 85% 30%; */
}

.carrousel__reviews-content-name {
    color: #4b4f69;
    padding-top: 20px;
    font-size: 25px;
}

.carrousel_reviews-content-comment {
    color: #6f7490;
    font-weight: 500;
    padding: 30px;
    font-size: 18px;
}

.carrousel-reviews-content-date {
    color: #3DC491;
    font-weight: 700;
    align-items: end;
}

/* 9 блок Roman Sosnovskyi[1/1]*/

/* 10 блок Таня Стащак[1/2]*/
.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq_questions {
    color: rgb(41, 138, 101);
    font-size: 50px;
    font-weight: 800;
}

.small_green_line {
    width: 50px;
    height: 4px;
    background-color: rgb(41, 138, 101);
    align-self: center;
    margin-top: 20px;
}

.faq_content {
    margin-top: 20px;
    font-size: 20px;
    color: #6f7490;
    font-weight: 700;
}

.question_answer {
    margin: 10px;
    line-height: 28px;
}

.question {
    margin-bottom: 15px;
    color: #3DC491;
    font-size: 25px;
    font-weight: 600;
}

.answer {
    color: #6f7490;
    font-weight: 400;
    font-size: 18px;
}

@media (min-width:640px) {
    .question_list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        margin: 30px 200px 30px 200px;
    }
}

@media (min-width: 810px) {
    .question_list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* 11 блок Таня Стащак[2/2]*/
.contacts,
.address {
    display: flex;
    flex-direction: column;
    line-height: 28px;
}

.contacts_content {
    color: rgb(41, 138, 101);
    font-size: 50px;
    font-weight: 800;
}

.small_green_line_seft_side {
    width: 50px;
    height: 4px;
    background-color: rgb(41, 138, 101);
    align-self: auto;
    margin-top: 20px;
}

.contacts_content_explanation {
    margin-top: 20px;
    font-size: 20px;
    color: #6f7490;
    font-weight: 700;
}

.address a {
    text-decoration: none;
    color: #6f7490;
    font-size: 18px;
    font-weight: 700;
}

address a.phone {
    margin-top: 35px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 800px;
    color: #f14952;
}

.support_info img {
    width: 70%;
    height: auto;
}

@media (min-width:640px) {
    .support_info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        margin: 30px 200px 30px 200px;
        justify-items: center;
    }
}