/* 2 блок Тарас Харандзюк[1/2]*/
.banner__fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-image: url(../img/bg_fruits.webp);
    background-size: cover;
    padding-top: 110px;
    padding-bottom: 110px;
}

.banner__fluid-title {
    color: rgb(75,79,105);
    font-weight: 1000;
    font-size: 70px;
    padding-bottom: 35px;
}

.banner__fluid-text {
    color: #6f7490;
    font-weight: 600;
    font-size: 19px;
    padding-bottom: 70px;
}

.banner__fluid-button {
    color: white;
    background-color: rgb(32, 218, 103);
    padding: 16px 40px;
    border-radius: 5px;
    text-decoration-line: none;
}
.banner__fluid-button:hover {
    background-color: rgb(255, 0, 0);
    transition: 0.5s;
}

/* 3 блок Olesia Holod[1/2]*/
.order__food {
    color:rgb(41,138,101);
    font-weight: bold;
}
.divider__component {
    background-color:rgb(41,138,101);
    height: 3px;
    width: 8%;
}
.text__about__order {
    color: rgb(75,79,105);
    font-weight: bold;
}
.icon__list{
    color: #6f7490;
}
.text__mobille-app {
    color: #6f7490;
}
.button__menu {
    color: white;
    background-color: rgb(32, 170, 110);
    padding: 16px 40px;
    border-radius: 5px;
    text-decoration-line: none; 
}
.button__menu:hover {
    background-color: rgb(255, 0, 0);
    transition: 0.5s;
}
/* 4 блок Olesia Holod[2/2]*/

/* 5 блок MarianaVentsel[1/1]*/

/* 6 блок RomanSmal[1/1]*/

/* 7 блок Oleksandr Silaiev[1/1]*/

/* 8 блок Тарас Харандзюк[2/2]*/
.carrousel__reviews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
}

.carrousel__reviews-content {
    background-color: white;
    text-align: center;
    flex: 2;
}

.carrousel__reviews-content-photo {
    width: 64px;
    height: 64px;
    border-radius: 50px;
}
.carrousel__reviews-content-name {
color: #4b4f69;
padding-top: 20px;
}

.carrousel_reviews-content-comment {
color: #6f7490;
font-weight: 500;
padding: 30px;
}

.carrousel-reviews-content-date {
color: #3DC491;
font-weight: 700;
}

/* 9 блок Roman Sosnovskyi[1/1]*/

/* 10 блок Таня Стащак[1/2]*/

@media (min-width:640px) {
    .qquestion_list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
}
@media (min-width: 810px) {
    .question_list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}



/* 11 блок Таня Стащак[2/2]*/